.p-login{
    margin-top: 90px;
}
.login{
    margin-left: 30%;
    margin-right: 30%;
}
.login-name{
    text-align: center;
    margin-bottom: 20px;
    color: #395B64;
}
.btn-login{
    width: 100%;
    margin-top: 30px;
    background-color:  grey !important;
    border: 1px !important;
}
.btn-login:hover {
    background-color: grey !important ;
}

.logo {
    width: 300px;
    margin-bottom: 40px;
    margin-left: 470px;
}

