.btn-addproduct{
    background: grey !important;
}
.p-member{
    padding-left: 30%;
    padding-right: 10%;
}
.text-header-profile{
    margin-left: 160px;
    color: #395B64;
    font-size: 26px;

}

.img-logo {
    margin-left: 80px;
}